<style>
  body {
    background-color: #87CEEB;
  }
</style>

<%= image_tag  "churchPhoto.jpg", class: "banner-img" %>
<div class="container">
  <h1 class="page-title">Southview Wesleyan Church</h1>
  <h3 class="page-subtitle">Making Disciples of Jesus to Change the World</h3>

  <div class="main">
    <p class="important" style="font-size: 14pt;">COVID-19 Response:</p>
    <p>Due to the Coronavirus pandemic, we have adjusted our services and schedule so that we can meet in person and still stay within the guidelines set forth by state and local authorities. Please see the guidelines we have implemented below:</p>
    <ul>
      <li><strong>Services and times</strong>
        <ul>
          <li><strong>Sunday</strong>
            <ul>
              <li>Morning service at 10:00 am <em>(in-person or live streamed)</em></li>
              <li>Children's message streamed live at 2:30 pm</li>
            </ul>
          </li>
          <li><strong>Wednesday</strong>
            <ul>
              <li>Children's message at 6:15 pm <em>(streamed live)</em></li>
              <li>Youth service in-person at 7:00 pm</li>
              <li>Adult bible study streamed live at 7:00 pm</li>
            </ul>
          </li>
          <li><strong>Daily</strong>
            <ul>
              <li>Devotional streamed live Monday - Friday at 11:00 am</li>
            </ul>
          </li>
        </ul>
      </li>
      <li><strong>Guidelines for attending in-person services</strong>
        <ul>
          <li>Face coverings are strongly recommended <span class="important">Required during singing</span></li>
          <li>Social distancing of 6 feet must be maintained at all times including while entering and exiting the building
            <ul>
              <li>Chairs will be arranged to maintain social distancing</li>
              <li>Only members of the same household may sit together</li>
            </ul>
          </li>
        </ul>
      </li>
      <li><strong>Additional Information</strong>
        <ul>
          <li>If you are not feeling well, considered high risk, or uncomfortable with attending in-person we invite you to worship with us at home. The service will be streamed live for those who unable to attend service.</li>
          <li>State guidelines include regulations for safety that we will be complying with. A few of the changes are listed below:
            <ul>
              <li>Contact surfaces will be sanitized prior to Sunday and after.</li>
              <li>We will have greeters opening doors, so you do not have to touch the handles.</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <p>NOTE: For all of the live streamed services they will be broadcast live here on this site or can be found on the <a href="https://www.facebook.com/SouthviewWesleyanChurch" style="color: blue;">Southview Wesleyan Church</a> Facebook page.</p>
  </div>
</div>